<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Add user</title>
</head>
<body>
<h2>Add user</h2>
<form th:method="POST" th:action="@{/admin/add}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>
    <br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <br>
    <label for="salary">Enter salary: </label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <br>
    <br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br>
    <br>
    <label>Select role:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.getName()}"
               th:value="${role.getId()}"
               th:field="*{roles}"
        />
    </label>
    <br>
    <br>
    <input type="submit" value="Save"/>
</form>
<br>
<form th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>
</body>
</html>