<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>All Users</title>
</head>
<body>
<h2>All Users</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Salary</th>
        <th>Email</th>
        <th>Role</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.salary}"></td>
        <td th:text="${user.email}"></td>
        <td th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></td>
        <td>
            <a th:href="@{/admin/edit(id=${user.getId()})}">
                <button type="submit">Edit</button>
            </a>
            <form th:method="DELETE" th:action="@{/admin/delete(id=${user.getId()})}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<form th:action="@{/admin/add}">
    <button type="submit">Add new user</button>
</form>
<br>
<form th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>
</body>
</html>
