<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>User</title>
</head>
<body>
<h2>User</h2>
<table>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Salary</th>
        <th>Email</th>
    </tr>
    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.salary}"></td>
        <td th:text="${user.email}"></td>
    </tr>
</table>
<br>
<form th:action="@{/logout}">
    <button type="submit">Logout</button>
</form>
</body>
</html>
